<!doctype html>
<!--[if lt IE 7]>      <html class="lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html> <!--<![endif]-->
<head>
	<meta charset="UTF-8">
	<title><%= appName %></title>
	<meta name="description" content="">
    <meta name="viewport" content="width=device-width">
    
    <!-- build:css styles/vendor.css -->
    <link rel="stylesheet" href="lib/leaflet.css">
    <!-- bower:css -->
    <!-- endbower -->
    <!-- endbuild -->
   
   	<!-- build:css styles/main.css -->
    <link rel="stylesheet" href="styles/main.css">
    <!-- endbuild -->
    <link rel="shortcut icon" href="/favicon.ico">

</head>
<body>
	<%if(showHeader){%>
		<header class="group">
			<div class="appName">
				<%= appName %>
			</div>
		</header>
	<%}%>
	<div class="map-application">
		<div id="map" class="map"></div>
	</div>
	 <!-- build:js scripts/vendor.js -->
	 <script src="lib/leaflet.js"></script>
     <!-- bower:js -->
     <% if(jquery){%><script src="bower_components/jquery/dist/jquery.js"></script><%}%>
	<% if(topoJson){%>
	<script src="bower_components/topojson/topojson.js"></script>
	<script>
		// Copyright (c) 2013 Ryan Clark, https://gist.github.com/rclark/5779673 
		L.TopoJSON = L.GeoJSON.extend({
			addData: function(jsonData){
				if(jsonData.type === "Topology") {
					for (key in jsonData.objects){
						geojson=topojson.feature(jsonData,jsonData.objects[key]);
						L.GeoJSON.prototype.addData.call(this, geojson);
					}
				}else{
					L.GeoJSON.prototype.addData.call(this, jsonData);
				}
			}
		});
	</script><%}%>
	<!-- endbower -->
    <!-- endbuild -->
	
	<!-- build:js scripts/main.js -->
	<script src="scripts/main.js"></script>
	<!-- endbuild -->
</body>
</html>